{% extends "base-layout.html.twig" %}

{% block content %}

    <a href="/person/form" class="btn btn-primary">
        Nouvelle personne
    </a>

    <table class="table">
    <tr>
        <th>Prénom</th>
        <th>Nom</th>
    </tr>
    {% for item in personList %}
        <tr>
            <td>
                <a href="/person/{{item.id}}">
                {{ item.firstName }}
                </a>
            </td>
            <td>{{ item.lastName }}</td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}