{% extends "base-layout.html.twig" %}

{% block css %}
    {{ parent() }}
    <style>
        body {
            background-color: antiquewhite;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Hello {{ name }}</h1>

    {% if showSkills %}
        <ul>
        {% for item in skills %}
            <li>{{ item }}</li>
        {% else %}
            <p>Aucune compétences</p>
        {% endfor %}
        </ul>
    {% else  %}
        <p>Incompétent</p>
    {% endif %}

    {% set alpha='' %}

    {% for i in 'a'..'f' %}
        {% set alpha = alpha~i %}
    {% endfor %}

    {{ alpha }}
{% endblock %}